body{
  background-image: url("kids.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;
}
h1, p{
  font-family: 'Patrick Hand', cursive;
  font-size: 43px;
  color: #194248;
  background-color: rgba(240, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10px;
}
p{
  font-size: 30px;
}
h1{
  font-weight: lighter;
}
button{
  font-family: 'Patrick Hand', cursive;
  font-size: 25px;
  color: #194248;
  border-radius: 5px;
  border: solid 3px #b56e78;
  background-color: rgba(240, 255, 255, 0.9);
  padding: 7px;
}
button:hover{
  border: solid 3px #BE3144;
  cursor: pointer;
}
@media all and (max-width: 500px){
body{
  background-image: url("cutedkids.jpg");
  background-color: #B1C381;
}
.App{
  margin-left: 60px;
}
h1{
  font-size: 38px;
}
button{
  font-size: 20px;
  padding: 5px;
}
}